include ../svg-icon/svg-icon
doctype
html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(name="viewport" content="width=device-width,initial-scale=1")
			link(rel='stylesheet' href='css/components.css')
			link(rel='stylesheet' href='css/1_header.css')
			//- link(rel='stylesheet' href='css/style.min.css')
	body
		block content
			.wrapper
				block page
					main.page
							//header
							include ../partials/1_header
				//- include ../partials/00_footer
		block popup
			include ../partials/popup.pug
				script(src='js/libs_new/smooth-scroll.polyfills.min.js')
				script(src='js/app.min.js')
		#pixelperfect
		button#pixelperfect__on ON