section.top-block
	.top-block__wrapper._lp
		.top-block__container._container._container--small
			.top-block__caption.caption
				.caption__box
					p.caption__meta дальше больше, скроль
					h2.caption__h2 Веб разработка<br/>UI/UX Дизайн<br/>Брендинг
					p.caption__text Создаем крафтовые сайты, которые помогают раскрыть потенциал бизнеса
			.top-block__button.button Старт
				