section.bonus
	.bonus__wrapper._lp
		.bonus__container._container._container--small
			.bonus__caption.caption
				.caption__meta.caption__meta--light Сделаем что-то вместе
			form.bonus__form
				input.bonus__input(type="text", placeholder="Имя")
				input.bonus__input(type="text", placeholder="Мобильный номер")
				input.bonus__input(type="text", placeholder="Email")
				input.bonus__input(type="button", value="Получить скидку")
			.phone
				.phone__number (044) 525-25-47
				.phone__text Свяжитесь с нами сейчас