.bonus {}

.bonus__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.bonus__caption {}

.caption {}

.caption__meta {}

.caption__meta--light {}

.bonus__form {
	width: 100px;
}

.bonus__input {}

.phone {}

.phone__number {}

.phone__text {}

.phone__svg-icon {}