//<Шрифт по умолчанию>==========================================================================================
$fontFamilyTitle: 'Manrope';
$fontFamilyBasic: 'Gilroy';
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1629;
$md1: 1280;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$colorBase: #6861ea;
$colorAlternate: #f7f7f7;
$colorAlternateDarkness: #d9e2ee;
$textColorBase: #444;
$textColorCaption: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================