@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "variables";
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "font";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================



//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

@import "null";
body {
	line-height: 22px;
	letter-spacing: 0px;
	color: $textColorBase;
	background-color: $colorAlternate;
    scroll-behavior: smooth;
	&._lock {
	  overflow: hidden;
	}
  }
  .wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
  }
  .page {
	flex: 1 1 auto;
  }
  ._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: ($md1+px)) {
	  max-width: 970px;
	}
  
	@media (max-width: ($md2+px)) {
	  max-width: 750px;
	}
  
	@media (max-width: ($md3+px)) {
	  max-width: none;
	  padding: 0 22px;
	}
  }

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms"
// @import "ui"
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "basic-elements";
@import "popup";
@import "_1_header.scss";

.pixelperfect {
	background: #000;
	// background-image: url('../img/home.png');
	width: 1000px;
	height: 3000px;
	position: absolute;
	top: 0;
	opacity: 1;
} 

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================


